@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;500;600;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 56px;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.header_link {
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
}

.header_btn {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  width: 137px;
  height: 44px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #F3603C;
  text-align: center;
  padding-top: 12px;
  border-radius: 30px;
}

.product {
  padding-top: 120px;
}

.product__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__list {
  width: 445px;
  padding-top: 49px;
}

.product__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 64px;
}

.product__text {
  padding-top: 16px;
  padding-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9196A8;
  width: 350px;
}

.product__btn {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  width: 137px;
  height: 44px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #F3603C;
  text-align: center;
  padding-top: 12px;
  border-radius: 30px;
}

.manage {
  padding-top: 132px;
  color: #242D52;
}

.manage__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.manage__block {
  width: 445px;
}

.manage__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 44px;
  padding-bottom: 24px;
}

.manage__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 350px;
  color: #9196A8;
}

.manage__list {
  width: 540px;
}

.manage__item {
  position: relative;
  margin-bottom: 40px;
}

.manage__item_num {
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  width: 67px;
  height: 39px;
  background-color: #F3603C;
  border-radius: 25px;
  color: #fff;
  padding-top: 6px;
}

.manage_item_block {
  padding-left: 95px;
  padding-top: 6px;
}

.manage_item_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 19px;
}

.manage__item_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9196A8;
}

.said {
  padding-top: 165px;
}

.said__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.said_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.said__item {
  width: 540px;
  height: 220px;
  position: relative;
  margin-top: 64px;
  background-color: #FAFAFA;
  text-align: center;
}

.said__img_block {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.said__item_title {
  padding-top: 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 19px;
}

.said__item_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9196A8;
}

.said_btn {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  width: 137px;
  height: 44px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #F3603C;
  text-align: center;
  padding-top: 12px;
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.team_work {
  height: 220px;
  background-color: #f3603c;
  margin-top: 161px;
}

.team__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 44px;
  width: 445px;
  padding-top: 62px;
  padding-bottom: 62px;
  color: #fff;
}

.team__btn {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  width: 137px;
  height: 44px;
  border-radius: 22px;
  color: rgb(243, 96, 60);
  background-color: #fff;
  text-align: center;
  padding-top: 12px;
  margin-top: 88px;
}

.footer {
  background-color: #1D1E25;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer__logo {
  margin-bottom: 83px;
}

.footer__icons {
  margin-right: 13px;
}

.footer_item {
  margin-bottom: 13px;
}

.footer__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

.footer__input {
  width: 200px;
  height: 44px;
  border-radius: 22px;
  border: none;
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-right: 41px;
}
.footer__input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.footer__input::-moz-placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.footer__input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.footer__input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}
.footer__input::placeholder {
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
}

.footer__btn {
  width: 64px;
  height: 44px;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  background-color: #F3603C;
  color: #fff;
  border-radius: 22px;
}

.footer__text {
  margin-top: 60px;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  color: #8E8F92;
  text-align: right;
}/*# sourceMappingURL=main.css.map */