.header{
    padding-top: 56px;
}


.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 32px;
}

.header_link{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
}

.header_btn{
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    width: 137px;
    height: 44px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #F3603C;
    text-align: center;
    padding-top: 12px;
    border-radius: 30px;
}