.product{
    padding-top: 120px;
}

.product__flex{
    display: flex;
    justify-content: space-between;
}

.product__list{
    width: 445px;
    padding-top: 49px;
}

.product__title{
    font-size: 46px;
    font-weight: 700;
    line-height: 64px;

}

.product__text{
    padding-top: 16px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9196A8; 
    width: 350px;
}

.product__btn{
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    width: 137px;
    height: 44px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #F3603C;
    text-align: center;
    padding-top: 12px;
    border-radius: 30px;
}